.person{
    width:60%;
    height: 20%;
    padding: 1.5rem 2rem;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    // background-color: #282829;
    text-align: center;
    // cursor: p;
}

.invert{
    padding: 1.5rem 2rem;
    background-color: blue;
}

.true{
    padding: 1.5rem 2rem;
    background-color: orange;
}
.invert-2{

    background-color: deeppink;
}